{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Historial de Préstamos</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Elemento</th>
                <th>Fecha de Préstamo</th>
                <th>Fecha de Devolución</th>
            </tr>
        </thead>
        <tbody>
            {% for prestamo in prestamos %}
            <tr>
                <td>{{ prestamo.usuario }}</td>
                <td>{{ prestamo.elemento }}</td>
                <td>{{ prestamo.fecha_prestamo }}</td>
                <td>{{ prestamo.fecha_devolucion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
