body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Al menos el alto de la ventana visible */
}

.container {
    flex-grow: 1; /* Hace crecer el contenido principal para ocupar el espacio restante */
}
