{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Aplicación</title>
    <!-- Agregar tus estilos CSS aquí -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="{% static 'js/logica.js' %}" defer ></script>
</head>
<body>
    <header class="bg-primary text-white p-3">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div class="weather">
                    <p>Fecha: {{ current_date|date:"d/m/Y" }}</p>
                    <p id="current-time" >Hora:</p>
                    <p>Temperatura en Ibagué: {{ current_temperature }}°C</p>
                </div>
                <h1 class="mb-0">Mi Aplicación</h1>
            </div>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'usuarios:usuario-list' %}">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'inventario:elemento-list' %}">Inventario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Prestamos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <main class="container mt-4">
        {% block content %}
        {% endblock %}
    </main>
    
    <footer class="bg-light p-4">
        <div class="container">
            <div class="company-info">
                <p>Información de la empresa:</p>
                <p>Dirección: Av. Ejemplo #123</p>
                <p>Teléfono: (123) 456-7890</p>
                <p>Ciudad: Ibagué</p>
                <p>Correo: info@empresa.com</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
