{% extends 'base.html' %}
{% block content %}
    <h1>Listado de Elementos de Inventario</h1>
    <a href="{% url 'inventario:elemento-create' %}" class="btn btn-primary"><i class="bi bi-plus"></i> Añadir Elemento</a>
    <ul>
        {% for elemento in Elemento %}
            <li>
                {{ elemento.nombre }} - {{ elemento.categoria }} - {{ elemento.estado }}
                <a href="{% url 'inventario:elemento-update' elemento.pk %}" class="btn btn-secondary"><i class="bi bi-pencil"></i></a>
                <a href="{% url 'inventario:elemento-delete' elemento.pk %}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
